<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form>
    <fieldset>
        <div>
        <label>Pick a color</label>
        <input type="color" id="colorChoice">
        </div>
    </fieldset>
</form>
<canvas id="drawing-canvas"></canvas>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
